package:
  name: ${NAME}
  version: ${VERSION}

source:
  url: ../${TARBALL}
  sha256: ${SHA256}

build:
  number: ${BUILD_NUMBER}
  script: python setup.py install
  
requirements:
  build:
    - python
    - ${BUILD_REQUIRES}

  run:
    - python
    - ${RUN_REQUIRES}

about:
  home: ${HOME}
  license: ${LICENSE}
  license_file: ../${LICENSE_FILE}
  summary: ${SUMMARY}